.LoginPage {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 30px;
  height: 100%;
  width: 100%;
}
body {
  background: linear-gradient(to left,#003399,rgb(117, 204, 252));
  font-family: sans-serif;
}
.footer-elements {
  display: flex;
    position: absolute;
  color: white;
  justify-content: space-between;
  width: calc(90%);
    margin-top: 50px;
}
.footer{
  width: 90%;
  bottom: 0;
  position: absolute;
  background-color: transparent;
  border: none;

}
.footer-element{
  display: flex;
  gap: 15px;
}
.footer-link{
  text-decoration: none;
  color: white;
  transition: 1s ease;
}
.footer-link:hover{
  color: #2688eb
}
.S{
 padding: 35px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  border: 1px solid;
   border-radius: 14px; 
   color: transparent;
   background-color:white  
}
.btn{
 width:304px;
 height:36px ;
 border-radius: 8px;
 border-color: transparent;
 color: #FFF;
 background-color: #2688eb;
margin-top: 30px;
font-size: 15px;


}
.Link-signup{
  display: flex;
  align-self: flex-start;
  width: 100%;
  text-decoration: none;
  margin-top: 30px;
  margin-left: 10px;
}
.Link-signup:visited{
  color: #6982b4;
}